<!DOCTYPE html>
<html lang="en" ng-app="zonMonyApp" ng-controller="expenseCtrl as vm">

<head>
    <meta charset="UTF-8">
    <title>Hey ngMaterial!</title>

    <link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">

    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>

    <script type="text/javascript" src="app.js"></script>


</head>

<body>

<div>
    <h4>Result: {{vm.result}}</h4>
    <h2>Elapsed Time: {{vm.elapsedTime}}</h2>
    <h1>Failure: {{vm.failure}}</h2>
</div>








    <!--<div layout="row">
        <div flex="20" style="background-color:yellow">
            [flex="20"]
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque molestias, illum delectus nemo ut, praesentium similique ea dolorum. Iure architecto modi molestias quas sunt, quia odio doloribus officia voluptatem laboriosam.</div>
            <div>Nesciunt incidunt error culpa sed dolor, laudantium veritatis commodi, odio consequuntur ipsa amet nihil? Eligendi neque nesciunt, libero eum est vel culpa explicabo accusamus itaque beatae veniam enim impedit. Iusto.</div>
            <div>Itaque nisi sit praesentium nemo quos temporibus ipsum optio asperiores quis tenetur porro error, velit, sapiente eligendi fugit ratione dolore. Est nihil blanditiis sequi perspiciatis, maiores laudantium illo inventore non.</div>
            <div>Asperiores cupiditate, ex consequatur illo provident adipisci reprehenderit minima quae atque, neque, quaerat incidunt doloremque dolor tenetur assumenda, pariatur distinctio dolore veniam eaque. Inventore vitae, rem qui, repellendus nihil dolorum!</div>
            <div>Consequatur, debitis facere esse cupiditate veniam eius adipisci accusamus hic illo eaque ab, nesciunt, error tempore vitae doloremque voluptatem deleniti veritatis saepe possimus architecto delectus blanditiis, dolor! Deleniti, molestias. Vitae.</div>
            <div>Error esse quia eum ea nemo repellat non aperiam aspernatur provident impedit odio inventore, quo cum officiis commodi, voluptatem, in maiores, animi? Nostrum, soluta odit magnam perspiciatis rem adipisci, atque.</div>
            <div>Maxime voluptatum possimus sequi? Doloremque similique sequi possimus, accusamus perferendis excepturi odio ea. Dolores ullam cumque excepturi, consectetur nihil modi blanditiis! Nisi quo sunt nemo asperiores ipsa quos tempore corporis.</div>
            <div>Repudiandae corporis tenetur labore, sapiente ratione quia totam, hic. Quo, sunt sed sapiente numquam laudantium quam assumenda et recusandae, fugiat explicabo est dignissimos, similique tempora dolore. Hic similique, eius unde.</div>
            <div>Minima libero, nemo assumenda fuga tenetur delectus facilis modi repudiandae labore, vero impedit, neque officia totam excepturi odit ullam dolorum sit! Veritatis qui laboriosam sit, molestiae cumque excepturi, corporis autem.</div>
            <div>Fugiat illo iusto quae dolore odio blanditiis odit rem optio sunt distinctio, earum qui quod fugit facere sapiente repellat provident. Dicta aut, ex. Aperiam nulla nobis architecto eligendi, placeat sapiente.</div>
        </div>
        <div flex style="background-color:green">
            [flex="70"]
        </div>
        <div flex hide-sm hide-xs style="background-color:orange">
            [flex]
        </div>
    </div>-->

    <!--

    <div layout-gt-xs="row" flex layout="column">
        <div style="background-color:skyblue" ng-class="{rowFill:isGreaterThanXs}" flex="25" layout="column" layout-padding layoutalign="center center">
            <strong>Select Time</strong>
            <div layout="row">
                <md-select ng-model="selectedHour">
                    <md-option ng-repeat="hour in hours">
                        {{hour}}
                    </md-option>
                </md-select>
                <md-select ng-model="selectedMinute ">
                    <md-option ng-repeat="minute in minutes ">
                        {{minute}}
                    </md-option>
                </md-select>
                <md-select ng-model="selectedAMPM ">
                    <md-option ng-repeat="item in AM_PM " ">
                        {{item}}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div layout="column " layout-padding layout-align="center center " ng-class="{rowFill:isGreaterThanXs} " flex="75
                        " style="background-color:lightgreen ">
            <h1>{{greeting}}</h1>
        </div>
    </div>


<md-menu-content>
    <md-menu-item hide-gt-xs >
<md-button ng-click="null " layout="row ">
<md-icon md-font-set="material-icons ">add_a_photo</md-icon>
Add a photo
</md-button>
</md-menu-item>
<md-menu-item hide-gt-xs >
<md-button ng-click="null " layout="row ">
<md-icon md-font-set="material-icons ">favorite</md-icon>
Loved it
</md-button>
</md-menu-item>
</md-menu-content>-->


</body>

</html>